In [64]:
import sys
import os
import numpy as np
import pandas as pd
import sklearn as sk
from collections import defaultdict, Counter
from sklearn.model_selection import train_test_split
import xgboost as xgb
import pickle

In [65]:
y = [3, 3, 2, 2016, 7, 5, 0.897155, 3.556813]

In [66]:
ml_dataset_handle = pd.read_csv('data_2014_2017_prepared.csv')

In [67]:
mydata=ml_dataset_handle

In [68]:
mydata.head()

   year  quarter  market  dur_stay  mode  purpose     visits     spend
0  2014        1       5         0     1        3   6.605896  0.568475
1  2014        1       5         0     3        1   2.207759  0.112639
2  2014        1       5         0     3        3   4.031401  0.194606
3  2014        1       5         0     3        4   1.823642  0.250751
4  2014        1       5         0     2        1  10.753880  0.576988

In [69]:
import seaborn as sns

In [70]:
mydata.describe()

,year,quarter,market,dur_stay,mode,purpose,visits,spend
count,17243.000000,17243.000000,17243.000000,17243.000000,17243.000000,17243.000000,17243.000000,17243.000000
mean,2015.479615,2.512382,20.769472,8.248623,1.493244,2.413211,8.363032,5.084132
std,1.114373,1.088479,15.403306,5.377594,0.771700,1.209781,16.509363,11.424407
min,2014.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000074,0.000000
25%,2014.000000,2.000000,6.000000,3.000000,1.000000,1.000000,1.174196,0.456787
50%,2015.000000,3.000000,18.000000,7.000000,1.000000,2.000000,2.662376,1.705280
75%,2016.000000,3.000000,33.000000,14.000000,2.000000,3.000000,7.437750,5.098037
max,2017.000000,4.000000,54.000000,15.000000,3.000000,5.000000,188.186653,276.856108

In [71]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17243 entries, 0 to 17242
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      17243 non-null  int64
 1   quarter   17243 non-null  int64
 2   market    17243 non-null  int64
 3   dur_stay  17243 non-null  int64
 4   mode      17243 non-null  int64
 5   purpose   17243 non-null  int64
 6   visits    17243 non-null  float64
 7   spend     17243 non-null  float64
dtypes: float64(2), int64(6)
memory usage: 1.1 MB

In [72]:
mydata.columns

Index(['year', 'quarter', 'market', 'dur_stay', 'mode', 'purpose', 'visits',
       'spend'],
      dtype='object')

In [73]:
from sklearn.preprocessing import MinMaxScaler

In [74]:
X=mydata[['year', 'quarter', 'market', 'dur_stay', 'mode', 'purpose',
       'visits']]

In [75]:
y=mydata['spend']

In [76]:
y

0         0.568475
1         0.112639
2         0.194606
3         0.250751
4         0.576988
           ...
17238     0.961071
17239     1.133562
17240     4.281618
17241    11.231517
17242    10.466867
Name: spend, Length: 17243, dtype: float64

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:
scaler= MinMaxScaler()

In [80]:
X_train_norm= scaler.fit_transform(X_train)
X_test_norm= scaler.transform(X_test)

In [81]:
model=xgb.XGBRegressor()

In [82]:
model.fit(X_train_norm,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [83]:
predictions=model.predict(X_test_norm)

In [84]:
predictions

array([0.6672121 , 2.673342  , 2.416515  , ..., 6.158833  , 4.0444107 ,
       0.65981984], dtype=float32)

In [85]:
from sklearn.metrics import mean_squared_error as MSE

In [86]:
y_pred=np.sqrt(MSE(y_test,predictions))

In [87]:
y_pred

5.0326625974874615

In [91]:
pickle.dump(model,open('model.pkl','wb'))

In [94]:
mydata.head()

   year  quarter  market  dur_stay  mode  purpose     visits     spend
0  2014        1       5         0     1        3   6.605896  0.568475
1  2014        1       5         0     3        1   2.207759  0.112639
2  2014        1       5         0     3        3   4.031401  0.194606
3  2014        1       5         0     3        4   1.823642  0.250751
4  2014        1       5         0     2        1  10.753880  0.576988